*{
    padding: 0px;
    margin: 0px;
}
.container{
    display: flex;
    justify-content: center;
    
}
.box{

padding: 15px;
background-color: aqua;
color: #580ed8;
width: 150px;
text-align: center;
cursor: pointer;
}
.box1{
    background-color: aliceblue;
}